/* Основные стили */
* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif; 
}
body {
    background-color: #f8f9fa;
    color: #949494;
    font-size: 1rem;
}
h1 {
    font-family: "Poppins", sans-serif;
    color: #000;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
}
h2 {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
}
h3{
    color: #000;
    font-weight: 600;
    font-size: 22px;
}
h4{
    color: #000;
    font-weight: 500;
    font-size: 16px;
}
h5{
    font-weight: 500;
    font-size: 14px;
    color: #464646;
}
/* Стили бургера */
.navbar-toggler {
    display: block;
    /* position: absolute; */
    top: 10px;
    left: 10px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}
.navbar-toggler-icon {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #3772FF;
    margin: 6px 0;
}

#burger-toggle:checked + label + .sidebar {
    display: block;
}

.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .navbar-toggler {
        display: none;
    }

    .sidebar {
        display: block !important;
    }
}
/* Стили сайдбара */
nav {
    background-color: #fff;
    outline: 1px solid #EEEEEE;
    padding-left: 20px;
}
.sidebar {
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
}
.nav-item {
    padding-bottom: 30px;
    text-align: center;
}
.nav-link:hover{
    transform: scale(1.3);
}
/* Стили поиска */
.input-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-control{
    flex-grow: 1;
}
input.form-control{
    padding: 9px 4px 9px 40px;
    background: transparent url("/img_db/search.svg") no-repeat 13px center;
}
.input-group .btn {
    margin-left: 10px;
}
.input-group .btn:hover{
    outline: 1px solid #949494;
}
.form-control:focus::placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
    }
/* Стили осн.поля */
.main-content {
    padding: 20px;
    background-color: #EEEEEE;
}

.card-img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover; 
    object-position: bottom; 
  }
  .profile-image {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  .card-content {
    padding: 0 20px;
  }
/* Карточки */
.card {
    margin-bottom: 20px;
}

.hot-bid .card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.hot-bid .card-body {
    flex: 1 1 auto;
}

.hot-bid .card img {
    max-height: 400px;
    object-fit: contain;
}

.card-text p{
    margin-bottom: 0;
}  
/* Правый асайд */
.right-sidebar{
    display: flex;
    flex-direction: column;
}
.img-avatar-sidebar {
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
    right: 1rem;
    bottom: 4rem;
    z-index: 10;
}
.text-avatar-sidebar{
    padding: 20px 10px;
    margin-top: -60px;
}
.statistic{
    margin: 20px 0;
    padding: 0 10px;
}
.right-sidebar {
    padding: 15px;
    background-color: #fff;
    /* margin-bottom: 20px; */
}
.profile-info > img{
    width: 100%; 
    height: auto; 
    object-fit: cover; 
    object-position: bottom;
    border-radius: 10px; 
}
/* Кнопки */
.btn-light{
    border: 1px solid #EBEBEB;
    color: #3772FF;
}

/* Стили переключателей */
.tabs {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    /* position: relative; */
  }
  
  .tab-link {
    padding: 14px 20px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    font-size: 14px;
    color: #949494;
    transition: color 0.3s;
  }
  
  .tab-link:hover {
    color: #000;
  }
  
  .tab-input {
    display: none;
  }
  
  .tab-input:checked + .tab-link {
    color: #3772FF;
    border-bottom: 4px solid #3772FF;
  }
  
  .tab-content {
    display: none;
    padding: 20px 0;
  }
  
  #tab1:checked ~ #content1,
  #tab2:checked ~ #content2,
  #tab3:checked ~ #content3 {
    display: block;
  }
 
/* Карточки сайдбар Sale */
.card-Sale {
    display: flex;
    align-items: center;
    border: 1px solid #EBEBEB;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
  }
  
  .card-image-Sale img {
    border-radius: 8px;
    width: 60px;
    height: 60px;
    object-fit: cover;
  }
  
  .card-content-Sale {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    flex: 1;
  }
  
  .card-header-Sale {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-eth-Sale {
    display: flex;
    align-items: center;
  }
  
  .card-eth-Sale img {
    width: 18px;
    height: 18px;
    margin-right: 5px;
  }
  
  .card-subheader-Sale {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #464646;
  }
  
  .profile-image-Sale {
    width: 24px;
    height: 24px;
    margin-right: 5px;
  }
  /* бургер */
  .menu-icon {
    cursor: pointer;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 5px;
    margin: 10px 0;
}
.menu-icon span {
    display: block;
    width: 30px;
    height: 4px;
    margin: 5px 0;
    background-color: #007bff; 
    transition: 0.4s;
}
.menu-icon:hover span {
    background-color: #0056b3; 
}
.menu-list {
    list-style-type: none;
    padding: 0;
    margin-left: 10px;
}
.menu-list li {
    margin: 10px 0;
}
.menu-list li a {
    color: #000;
    text-decoration: none;
    font-size: 24px;
}
.nav-burg {
    padding-right: 10px;
    text-align: center;
}
@media (min-width: 768px) {
    #burger-menu {
        display: none;
    }
    #menu-list {
        display: flex !important;
    }
}
@media (max-width: 767.98px) {
    #menu-list {
        display: none;
    }
    #menu-list.show {
        display: block;
    }
}
/* адаптив */
@media only screen and (max-width: 575.98px){

}
@media only screen and (max-width: 767.98px){

}
@media only screen and (max-width: 991.98px){
    h1 {
        font-size: 22px;
    }
    h2 {
        font-size: 16px;
    }
    h3{
        font-size: 14px;
    }
    h4{
        font-size: 12px;
    }
    h5{
        font-size: 10px;
    }
    body {
        font-size: 14px;
    }
    .card-image-Sale img {
        border-radius: 8px;
        width: 60px;
        height: 60px;
        object-fit: cover;
        margin-bottom: 10px;
      }
      .tab-link {
        padding: 10px 5px;
        cursor: pointer;
        background: none;
        border: none;
        outline: none;
        font-size: 10px;
        color: #949494;
        transition: color 0.3s;
      }
}